
body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 320px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #a3a3a3;
}

input{
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-size: 1em;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #38bdf8;
    color: #0f172a;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.resultado {
    margin-top: 20px;
    font-size: 1.1em;
    color: #facc15;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 5px;
}

.passos {
    margin-top: 20px;
    text-align: left;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 5px;
    color: #38bdf8;
    font-size: 0.95em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container-3 {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
} 
.footer {
  background-color: rgb(225, 235, 160);
  color: black;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  bottom: 0px;
}
.footer .column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}
.footer .column h3 {
  border-bottom: 2px solid #575757;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.footer .column ul {
  list-style: none;
  padding: 0;
}
.footer .column ul li {
  margin: 10px 0;
}
.footer .column ul li a {
  color: black;
  text-decoration: none;
}
.footer .column ul li a:hover {
  text-decoration: underline;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
}
.footer .social-icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}
.footer .social-icons a:hover {
  color: #575757;
}
.footer-bottom {
  background-color: #222;
  color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 14px;
}
.f {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

